* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
  
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 80px 0px 0px 20px;

}

.infobox_ind {
  margin: 10px;
}

.app__left {
  flex: 0.9;
  margin: 10px;

}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

.footer {
  align-items: bottom;
  width:100% !important;
  height:120px;
  background-color:#030303;
  position:absolute;
  bottom:0px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .app__stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 0px 10px 0px;
  }
}