*{
  margin-top: 5px;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
}

.app__dropdown {
  background-color: white;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #a03939;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.9;
}
.footer {
  align-items: bottom;
  width:100% !important;
  height:120px;
  background-color:#262630;
  position:absolute;
  bottom:0px;
  justify-content: space-between;
  display: flex;
  
  
}
.footer_right{
  padding-right: 150px;
  list-style: none;
  text-decoration:none;
}

.footer .footer_right a:link,:visited{
  color:rgb(206, 187, 44);
  text-decoration:none;
}
a:link ,a:hover{
  color:green;
}
.footer .footer_right a:link{
  list-style: none;
}

.footer_right_ul{
  list-style-type:none;
  font-weight:bold;
  margin-top: 50px;
}

.footer_left{
  padding-top: 12px;
  padding-left: 150px;
  color:white;
  width:450px;
}

.app__information > h3 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}


.app__information > h3:last-of-type {
  margin-top: 1rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .footer {
    /* align-items: bottom;
    flex-direction: column; */
    visibility: hidden;
  }
}